{% extends "email/base.twig.html" %}
{% do email.setSubject("Reset password") %}

<h1>Reset Password</h1>

<p>Hi {{ person.first_name }} {{ person.last_name }},</p>

<p><a href="http://www.{{ constant('DOMAIN') }}/reset-password/{{ person.passwordResetHash }}" target="_blank">Set new password</a></p>
